@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.shadow{
    -webkit-box-shadow: 2px -1px 17px -4px rgba(0,0,0,0.28);
-moz-box-shadow: 2px -1px 17px -4px rgba(0,0,0,0.28);
box-shadow: 2px -1px 17px -4px rgba(0,0,0,0.28);
padding: 20px; 
border-radius: 20px;
background-color: white;
    }

.font{font-family: 'Poppins', sans-serif;}    


    .inp-shadow{
    -webkit-box-shadow: 0px -1px 12px 1px rgba(199,199,199,1);
-moz-box-shadow: 0px -1px 12px 1px rgba(199,199,199,1);
box-shadow: 0px -1px 12px 1px rgba(199,199,199,1);
border-radius: 9px;
    }


.kzr-btn{
	padding: 12px;
	cursor: pointer;
	width: 200px;
  outline: none;
} 

.kzr-btn:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.kzr-red{
    background-color: red;
    border:1px solid red;
  color: white;
}   

.delete-btn{
  padding: 2px 10px;
  max-width: 50px;
  /*max-height: 20px;*/
  background-color: red;
      border:1px solid red;
      font-size: 12px;

  color: white;
}

.update-btn {
    padding: 14px;
    width: 100%;
    max-width: 350px;
    /* max-height: 20px; */
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.update-btn:hover{transform: scale(1.1);transition: 0.3s;}

.SGSR-center{text-align: center;}

.kzr-green{
   background-color: #4caf50;
    border:1px solid #4caf50;
  color: white;
  
}

.fa-trash:hover{
  color: kzr-red;
  cursor: pointer;
}

.btn{
  background-color: red;
  color: white;
  padding: 12px;
  border:1px solid red;
  cursor: pointer;
  width: 200px;
  outline: none;
}    


.btn:hover{
  
  border:1px solid red;
  transform: scale(1.1);
  transition: 0.2s;
}  

select.khyzer,input.khyzer[type=text]{
     
    text-align-last: center;
      border-radius: 0px;
      margin-top: 12px;
      width: 100%;
      max-width: 230px;
      min-width: 195px;


}

 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
font-family: 'Poppins', sans-serif;
  color: rgb(0,0,0 ,0.5);
  opacity: 0.5; /* Firefox */
}

  :focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}


.pro-green{color: #ff9800;}

.fa-question-circle{cursor: pointer;}

/*.tooltip{
    background-color:black;
    color: white;
    font-size: 11px;
    border: 1px solid black;
    font-family: Century Gothic;
    border-radius: 4px;
    text-align: left;
  }

  .ui-widget.ui-widget-content {
    border: 1px solid #000000;
    text-align: left;
}

.ui-widget-shadow {
     -webkit-box-shadow: 0px 0px 0px #666666; 
     box-shadow: 0px 0px 0px #666666; 
}*/


input.color-code{
         display: inline-block;
         border: none;
         width: 20px;
         max-width: 20px;
         min-width: 40px;
         outline: none;
         border-radius: 30px;
         border: 1px solid #e6e6e6;
               }


/*/------------------------*/

.SGSR-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Poppins', sans-serif;
}

/* Modal Content */
.SGSR-modal-content {
  background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 98%;
        max-width: 800px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
}

/* The Close Button */
.SGSR-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.SGSR-close:hover,
.SGSR-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.pricing:nth-child(odd){
  background-color: #d5d9f157;
  color: black;

}

.left{
  text-align: left;

}

.go-pro-btn{
  display: block;
    width: 150px;
    padding: 6px;
    background-color: #3f51b5!important;
    border: 1px solid #3f51b5!important;
    color: white!important;
    text-decoration: none;
    outline: none;
}

.go-pro-btn:hover{
  display: block;
    width: 150px;
    padding: 6px;
    background-color: white!important;
        border: 1px solid #3f51b5!important;

    color: #3f51b5!important;
    text-decoration: none;
    transition: 0.2s;
    outline: none;
    transform: scale(1.1);
}


.info-img{max-width: 700px;}

/*=============================================== 2022 ======================*/
 .wpbox-info-img-1 {
    width: 352px;
    position: absolute;
    border: 0;
    right: 48px;
    bottom: 22%;
    /*z-index: -1;*/
}

.wpbox-info-img-2 {
    width: 53%;
    position: absolute;
    border: 0;
    right: 48px;
    bottom: 1%;
    /*z-index: -1;*/
}

   

.wpbox-pro-features{text-decoration: none;color: orange;text-decoration: underline;}